:root {
    --primary-color: #3dcc82;
    --secondary-color: #0b0c0f;
}
/* header start */
.header {
    width: 100%;
    height: 660px;
    background-image: url(../assets/images/headerbg.jpg);
    background-size: contain;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.logo path {
    fill: var(--primary-color);
}
.login-btn {
    height: 100%;
    display: flex;
    align-items: center;
}
.login-btn button {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 40px;
    padding: 15px;
    color: grey;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.3s;
}
.login-btn button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #323843;
}
.header-content {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bundles {
    width: 100%;
    display: flex;
    gap: 40px;
}
.bundle-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20rem;
}
.bundle-img {
    height: 60px;
}
.bundle-description {
    color: #fff;
    text-align: center;
}
.buy-bundle-btn {
    width: 100%;
}
.terms-link {
    font-size: 14px;
}
/* header end */

/* call-to-action start */
.call-to-action {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        180deg,
        var(--primary-color) 0.66%,
        #16181d 99.34%
    );
}
.call-to-action-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.call-to-action-btn {
    width: 290px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.call-to-action-btn:hover {
    cursor: pointer;
    background-color: #a4b3ad;
    border-color: #a4b3ad;
    color: #040405;
    transition: 0.3s;
}
/* call-to-action end */

/* library start */
.library {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: var(--secondary-color);
    width: 100%;
}
.library-title {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    margin-top: 20px;
}
.library-paragraph {
    color: white;
    margin-top: 30px;
    text-align: center;
    width: 67%;
}
.show-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-block: 40px;
}
.show-item {
    padding: 5px;
    position: relative;
    width: 310px;
    height: 460px;
    border-radius: 10px;
}
.show-item-cover {
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 10px;
}
.show-item-cover:hover {
    background-color: rgba(11, 12, 15, 0.3);
    border: 3px solid #a4b3ad;
    cursor: pointer;
    transition: 0.3s;
}
.show-item img {
    border-radius: 10px;
}
.show-description {
    margin: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.show-category {
    font-size: 12px;
    margin-bottom: 10px;
}
.show-item-caption {
    color: #999;
    font-size: 10px;
    margin: 7px;
}
.get-shows-btn {
    margin: 20px;
    width: 200px;
}
.disclaimer {
    text-align: center;
    color: #999;
    font-size: 10px;
    width: 77%;
    margin-bottom: 40px;
}
/* library end */

/* live start */
.live {
    position: relative;
    width: 100%;
    padding: 15%;
}
.live-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.live-info {
    width: 500px;
    color: #fff;
}
.live-nav {
    width: 100%;
}
.live-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.live-nav li {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: #999;
}
.live-nav li:first-child {
    color: white;
    border-bottom: 3px solid white;
}
.live-title {
    font-size: 40px;
    font-weight: bolder;
    margin: 30px 0;
}
.live-description {
    font-weight: 400;
}
.live-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.live-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fff;
    margin: 25px 0;
    padding: 3px;
}
.live-disclaimer {
    text-align: start;
    width: 100%;
}
.underline-link {
    text-decoration: underline;
    cursor: pointer;
}
/* live end */

/* plan start */
.plan {
    background-color: var(--secondary-color);
    padding: 5rem 10rem;
    color: #fff;
}
.plan-header {
    text-align: center;
    padding-bottom: 40px;
}
.plan-title {
    font-size: 46px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.plan-title-description {
    font-size: 18px;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.base-save-plan h3 {
    font-size: 14px;
}
.save-plan-img {
    height: 35px;
}
.base-plan-img {
    height: 15px;
    padding-top: 5px;
}
.plan-head {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 215px;
    background-color: var(--secondary-color);
}
.plan-row {
    display: flex;
    gap: 10px;
}
.plan-data {
    text-align: center;
    padding-block: 30px;
    font-size: 13px;
}
.plan-switch {
    margin-inline: 15px;
}
.plan-popular {
    position: absolute;
    right: 50%;
    top: -10%;
    transform: translateX(50%);
    background-color: var(--primary-color);
    color: #000;
    font-size: 12px;
    font-weight: 400;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}
.trial {
    color: #bec0c2;
    font-size: 14px;
}
.hulu-ads {
    font-weight: 800;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.plan-btn {
    width: 100%;
    margin: 5px;
    background-color: #fff;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
    height: 40px;
}
.plan-data-start {
    text-align: start;
}
.plan-data img {
    width: 20px;
}
.dash {
    font-size: 24px;
}
.table-disclaimer {
    font-size: 9px;
    margin: 10px;
}
.table-disclaimer p {
    margin: 5px;
}
.add-ons {
    border-bottom: 1px solid #575759;
    border-top: 1px solid #575759;
    display: flex;
    margin: 60px 0 10px 0;
    padding: 30px;
    gap: 10px;
}
.add-ons img {
    width: 20px;
}
/* plan end */

/* footer start */
.footer {
    background-color: #e8eaed;
    width: 100%;
    margin: 0;
    padding: 5rem 10rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 2px solid #d9dce2;
    padding-bottom: 70px;
}
.grid-item-head {
    font-size: 14px;
}
.grid-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #586174;
    gap: 10px;
    font-size: 14px;
    padding: 15px 20px 0 0;
    font-weight: 100;
}
.grid-items p:hover {
    cursor: pointer;
}
.social-media {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: 30px;
}
.social-media-icons {
    width: 20px;
}
.end-credits {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #586174;
    font-size: 14px;
}
/* footer end */

/* media queries start */
@media only screen and (max-width: 768px) {
    .bundles {
        gap: 20px;
        padding-inline: 20px;
    }
    .bundle-description {
        font-size: 20px;
        font-weight: 400;
    }
    .buy-bundle-btn {
        width: 50%;
    }
    .call-to-action-title {
        font-size: 16px;
        font-weight: 400;
    }
    .call-to-action-btn {
        width: 170px;
    }
}
@media only screen and (max-width: 1280px) {
    .show-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
} /* media queries end */
