:root {
    --primary-color: #3dcd83;
}
/* header start */
.header {
    width: 100%;
    height: 660px;
    background-image: url(../assets/images/headerbg.jpg);
    background-size: cover;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.logo path {
    fill: var(--primary-color);
}
.login-btn {
    height: 100%;
    display: flex;
    align-items: center;
}
.login-btn button {
    background-color: rgba(0, 0, 0, 0);
    margin-right: 40px;
    padding: 15px;
    color: grey;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.3s;
}
.login-btn button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #323843;
}
.header-content {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bundles {
    display: flex;
    gap: 40px;
}
.bundle-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20rem;
}
.bundle-title {
    font-size: 12px;
    color: var(--primary-color);
    text-transform: uppercase;
}
.bundle-img {
    height: 60px;
}
.bundle-description {
    color: #fff;
    text-align: center;
}
.buy-bundle-btn {
    text-transform: uppercase;
    background-color: var(--primary-color);
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    height: 40px;
}
.buy-bundle-btn:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s;
}
.terms-link {
    font-size: 14px;
}

/* header end */
